<!DOCTYPE html>
<html lang="ru">

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;display=swap" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>
<body>

  <header class="header sticky-top">
    <nav class="header__nav navbar navbar-expand-lg navbar-expand-md flex-nowrap d-flex">
      <div class="container-fluid">
        <a class="navbar-brand header__logo" href="{{ url_for('index') }}">
          <img class="header__logo" src="{{ url_for('static', filename='images/content/inginirium.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
          aria-controls="menu" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav">

            <li class="header__item nav-item text-center {% block main_dropdown %}{% endblock %}">
              <a class="header__link nav-link {% block main_link_active %}{% endblock %}"  href="{{ url_for('index') }}" {% block main_dropdown_params %}{% endblock %}>Главная</a>
              {% block main_dropdown_menu %}{% endblock %}
            </li>

            <li class="header__item nav-item text-center {% block second_dropdown %}{% endblock %}">
              <a class="header__link nav-link {% block second_link_active %}{% endblock %}" href="{{ url_for('second') }}" {% block second_dropdown_params %}{% endblock %}>
                Вторая страница
              </a>
              {% block second_dropdown_menu %}{% endblock %}
            </li>
            <li class="header__item nav-item text-center">
              <a class="header__link nav-link" href="#">Ссылка в никуда</a>
            </li>
            <li class="header__item nav-item text-center">
            </li>
          </ul>
        </div>
        <a class="header__link nav-link d-sm-none d-none d-lg-inline-flex" href="tel:+79992220055">Свяжитесь с нами: +7
          (999) 222-00-55</a>
      </div>
    </nav>
  </header>

  {% block main %}{% endblock %}

  <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer__left col-lg-6 col-md-6 col-12 align-self-center">
            <a class="footer__logo" href="#">
              <img class="footer__logo" src="{{ url_for('static', filename='images/content/logo_small.png') }}" alt="Логотип Инжинириум">
            </a>
            <small class="footer__copyright">Защита всех прав</small>
          </div>
          <div class="footer__right col-lg-6 col-md-6 col-12">
            <div class="row">
              <nav class="navbar navbar-expand-lg navbar-expand-md flex-nowrap d-flex" >
                <div class="container-fluid">
                  <ul class="footer__menu navbar-nav">
                    <li class="footer__item nav-item">
                      <a href="" class="footer__link nav-link">Главная</a>
                    </li>
                    <li class="footer__item nav-item">
                      <a href="" class="footer__link nav-link">Вторая</a>
                    </li>
                    <li class="footer__item nav-item">
                      <a href="" class="footer__link nav-link">Ссылка в никуда</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="row">
              <ul class="footer__social list-unstyled d-flex">
                <li class="footer__item">
                  <a href="#" class="footer__social" target="_blank">
                    <img class="footer__social" src="{{ url_for('static', filename='images/content/yt.png') }}" alt="Логотип youtube">
                  </a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__social" target="_blank">
                    <img class="footer__social" src="{{ url_for('static', filename='images/content/vk_logo.svg') }}" alt="Логотип VK">
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
      </div>
    </footer>

</body>
</html>